html
    head
        title Вход
        link(rel="stylesheet" type="text/css" href="/public/css/uikit.min.css")
        script(type="text/javascript" src="/public/js/lib/jquery.min.js")
        script(type="text/javascript" src="/public/js/lib/uikit.min.js")
        script(type="text/javascript" src="/public/js/lib/uikit-icons.min.js")
        script(type="text/javascript" src="/public/js/admin.min.js")

    body.uk-section-muted
        div.uk-container.uk-container-small
            div.header.uk-padding-large
            div.pictures
            div.current-picture-info
            div.history
            div.users
